<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NewStage2DbConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\NewStage2Db.mdf;Initial Catalog=NewStage2Db;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="vkUserId" value="259981103" />
    <add key="vkGroupId" value="26396902" />
    <add key="sendMessageDelay" value="10000" />          <!-- ms -->
    <add key="captchaDelay" value="60" />                 <!-- sec -->
    <add key="debugMessageVkUserId" value="0" />    
    <add key="substUser" value="%user%" />

    <add key="requestDelay" value="350" />                <!-- ms -->
    <add key="requestTimeout" value="20000" />            <!-- ms -->
    <add key="requestResourceTimeout" value="5000" />     <!-- ms -->
    <add key="captchaErrorCode" value="14" />
    <add key="logFileName" value="Log.txt" />
    <add key="vkApiHost" value="https://api.vk.com/" />
    <add key="loginUrl" value="https://oauth.vk.com/authorize?client_id=5794488&amp;display=page&amp;redirect_uri=https://oauth.vk.com/blank.html&amp;scope=messages,offline&amp;response_type=token&amp;v=5.62" />
    <add key="efMigrationDataDirectory" value="d:\stas\src\VS2012\NewStage2VK\NewStage2VK\bin\Debug\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>